#game {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-left: 166px;
  height: 98vh;
  position: relative;
}

body {
  position: relative;
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  padding-top: 6px;
}

body canvas, .info-master {
  position: absolute;
}

.info-master {
  margin-left: 7%;
  width: 22%;
}

#instructions {
  color: #757575;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.4;
  padding-top: 31px;
  padding-left: 21px;
}

.github {
  color: black;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  z-index: 2;
}

.linkedin {
  color: black;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  z-index: 2;
  top: 21px;
}

.github:hover, .linkedin:hover, .fader-button:hover {
  color: #535353;
}

.fader-button {
  background: url("img/Infobutton.png");
  background-size: cover;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  position: relative;
  border: none;
  z-index: 2;
  outline:none;
}

.fader-button:hover {
  background: url("img/infobuttonHover.png") no-repeat;
  background-size: cover;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-style: none;
  border: none;
  outline:none;
}

/* ----------------------------------------------------------------------------------- */

.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
  animation-fill-mode: forwards;  
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/* ----------------------------------------------------------------------------------- */

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  animation-fill-mode: forwards;  

}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}